/* remove browser default margin */
body {
    margin: 0;
}

/* navigation bar */
header {
    position: sticky;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

nav>ul>li {
    float: right;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav>ul>li a:hover {
    background-color: #111;
    color: white;
}

.active {
    background-color: #04AA6D;
}

/* main content */
main {
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 70em;
    margin: auto;
}

/* marketplace */
.price {
    font-size: medium;
    font-weight: bold;
}

.two-column-layout {
    display: flex;
    flex-wrap: wrap;
}

.two-column-layout>* {
    width: 100%;
}

@media (min-width:768px) {
    .two-column-layout>* {
        width: 46%;
        margin: 2%;
    }
}

/* image viewer */
.image-row {
    /* TODO fix the weird vertical overflow */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    display: block;
    height: 4em;
}

.image-row>img {
    margin: 0px 5px;

    opacity: 0.8;
    cursor: pointer;
    transition: all .1s;

    /* thank you for wasting half an hour of my precious time, Firefox */
    height: 100%;
}

.image-row>img:hover {
    opacity: 1;
}

.image-row>img:active {
    opacity: 1;
    filter: brightness(1.1);
}

.image-row:after {
    content: "";
    display: table;
    clear: both;
}

.image-container {
    position: relative;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* cart */
.checkout {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

table {
    table-layout: auto;
    width: 100%;

    border-collapse: collapse;
}

th,
td {
    text-align: center;
    vertical-align: middle;

    border-bottom: 1px solid #B9B9B9;
}

td>img {
    max-height: 100px;
}

/* jiggle if anyone wants */
.jiggle:hover {
    position: relative;
    animation: jiggle 1s ease-in-out infinite;
}

@keyframes jiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
